@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  :root{
     /* Primary */
    --dark-blue-email-sign-up: hsl(217, 28%, 15%);
    --dark-blue: hsl(218, 28%, 13%);
    --dark-blue-footer: hsl(216, 53%, 9%);
    --dark-blue-testimonials: hsl(219, 30%, 18%);
    /* Accent */
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --light-Red-error: hsl(0, 100%, 63%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
  }
  body{
    @apply bg-dark-blue-testimonials;
  }
  main{
    @apply max-w-[1440px] min-h-screen mx-auto
  }
  header{
    @apply w-full flex justify-between text-white p-14;
  }
}

@layer components{
  .card__intro{
    @apply w-full flex flex-col items-center justify-center bg-mobile md:bg-desktop bg-no-repeat bg-bottom
  }
  .card__intro__body{
    @apply w-1/2 flex flex-col items-center text-center space-y-10
  }
  .card__offers{
    @apply bg-dark-blue w-full flex justify-center items-center
  }
  .card__offers__body{
    @apply w-9/12 bg-dark-blue grid grid-cols-1 md:grid-cols-2 gap-y-20 md:gap-24
  }
  .card__offers__body article{
    @apply flex flex-col justify-center items-center text-center
  }
  .card__offers__body article h2{
    @apply text-lg font-bold text-white
  }
  .card__offers__body article blockquote{
    @apply text-base text-gray-400
  }
  .card__benefits{
    @apply w-full flex items-center justify-center bg-dark-blue py-16
  }
  .card__benefits_body{
    @apply w-9/12 grid grid-cols-1 md:grid-cols-2 md:gap-4
  }
  .card__testimonials{
    @apply w-full bg-dark-blue flex items-center justify-center
  }
  .card__testimonials__body{
    @apply w-9/12 grid grid-cols-1 md:grid-cols-3 md:gap-10
  }
  .testimonial{
    @apply w-full p-4 space-y-3 rounded-lg shadow-xl bg-dark-blue-testimonials mb-10
  }
  .btn{ @apply p-2 w-full md:w-1/2 rounded-full }
  .btn__primary{ 
    @apply bg-blue text-white hover:bg-cyan
  }
}